.contenedor-formulario {
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más ancha y difusa */
    padding: 20px; /* Aumenta el padding para más espacio interno */
    border-radius: 6px; /* Bordes redondeados */
    max-width: 600px; /* Aumenta el ancho máximo del formulario */
    margin: 15px auto; /* Centra el formulario horizontalmente */
}

.titulo-formulario {
    text-align: center;
    margin-bottom: 15px; /* Margen inferior */
    font-size: 20px; /* Tamaño de fuente */
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px; /* Margen inferior */
    font-weight: bold;
}

input,
select {
    width: calc(100% - 12px); /* Ajusta el ancho para el padding del contenedor */
    margin-top: 6px; /* Margen superior */
    padding: 10px; /* Aumenta el padding para más espacio interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.appointments-container {
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
    margin: 15px auto; /* Centra el contenedor horizontalmente */
    max-width: 1200px; /* Aumenta el ancho máximo del contenedor */
    border-radius: 6px;
}


.appointments-grid {
    display: flex;
    flex-direction: column; /* Permite filas de elementos */
    gap: 15px; /* Espacio entre las filas */
    align-items: center; /* Centra las filas horizontalmente */
}

.appointments-row {
    display: flex;
    gap: 15px; /* Espacio entre los elementos de la misma fila */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si el espacio es limitado */
    justify-content: center; /* Centra los elementos de la fila */
}

.appointment {
    flex: 1 1 calc(25% - 15px); /* Ajusta para 4 elementos por fila con espacio entre ellos */
    min-width: 0; /* Permite que el contenido se ajuste al tamaño del contenedor */
    background-color: #fff;
    border-radius: 15px; /* Bordes redondeados iguales a los del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    padding: 10px; /* Menos padding */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho y alto del elemento */
}


h5 {
    margin-bottom: 10px; /* Espacio debajo del texto */
}
button.request-button {
    background-color: #B0E0E6; /* Color de fondo por defecto */
    padding: 5px 20px; /* Ajusta el padding para dar suficiente espacio alrededor del texto */
    border: none;
    border-radius: 10px; /* Bordes redondeados del botón */
    color: #000000; /* Color del texto blanco */
    font-size: 14px; /* Tamaño de fuente del texto en el botón */
    font-weight: bold; /* Hace el texto en negrita */
    cursor: pointer;
    display: inline-flex; /* Cambia a inline-flex para permitir el espacio a la derecha */
    align-items: center; /* Alinea verticalmente el contenido del botón */
    text-align: center; /* Centra el texto del botón */
    position: relative; /* Necesario para posicionar el icono */
    min-width: auto; /* Deja que el ancho del botón se ajuste al contenido */
    box-sizing: border-box; /* Asegura que el padding y el border no afecten el ancho del elemento */
    margin: 0 auto; /* Centra el botón horizontalmente */
}

button.request-button:hover {
    background-color: #B0E0E6; /* Color de fondo cuando el mouse está sobre el botón */
    color: #fff; /* Mantiene el color del texto blanco */
    /* El color del texto en negrita se mantiene igual */
}

button.request-button.solicitar-cita-button {
    margin-left: 20px; /* Ajusta este valor según sea necesario */
  }
  

.icono-agendar {
    width: 25px; /* Tamaño del icono */
    height: 25px; /* Tamaño del icono */
    position: absolute; /* Posiciona el icono de manera absoluta */
    right: -35px; /* Ajusta la posición horizontal del icono si es necesario */
    top: 50%; /* Centra verticalmente el icono */
    transform: translateY(-50%); /* Ajusta el icono para centrarlo verticalmente */
}

/* Diseño responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    .appointment {
        flex: 1 1 calc(50% - 15px); /* 2 elementos por fila en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .appointment {
        flex: 1 1 100%; /* 1 elemento por fila en pantallas muy pequeñas */
    }
}
